<?xml version='1.0' encoding='utf-8'?>
<widget id="com.denken.finanzas" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>finanzas</name>
    <description>
        A blank PhoneGap app.
    </description>
    <author email="support@phonegap.com" href="http://phonegap.com">
        PhoneGap Team
    </author>
    <content src="index.html" />

    <feature name="http://api.phonegap.com/1.0/geolocation"/>
    <plugin name="cordova-plugin-geolocation" source="npm" />
    <plugin name="cordova-plugin-android-permissions" />
    
    <plugin name="cordova-plugin-whitelist" version="1"/>

    <access origin="*://*.googleapis.com/*" subdomains="true" />
    <access origin="*://*.gstatic.com/*" subdomains="true" />
    <access origin="*://*.google.com/*" subdomains="true" />
    <access origin="*://*.googleusercontent.com/*" subdomains="true" />


    <allow-navigation href="http://*/*" />
    <allow-navigation href="https://*/*" />
    <allow-navigation href="data:*" />
    <allow-intent href="geo:*" />
    
    <access origin="*" />

    <allow-intent href="*" />

    <preference name="Orientation" value="portrait" />
    <preference name="android-targetSdkVersion" value="27" />
    <preference name="CameraUsesGeolocation" value="true" />

    <feature name="File">
        <param name="android-package" value="org.apache.cordova.file.FileUtils" />
    </feature>
    <feature name="FileTransfer">
        <param name="android-package" value="org.apache.cordova.filetransfer.FileTransfer" />
    </feature>

    <platform name="android">
        <config-file target="AndroidManifest.xml" parent="/manifest">
        <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
        <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
        <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
        </config-file>
    </platform>
</widget>
